
<script>
  {%  assign  config = app.metafields.wishlist.app_settings  %}
  debugger
  const wishlistConfig = {{config}}
  document.addEventListener("DOMContentLoaded", async () => {
    const wishlistManager = new WishlistManager(wishlistConfig);
    await wishlistManager.wishlistApi.init(); 
    wishlistManager.init(); 
  });
</script>

<script src="{{ "wishlist.js" | asset_url }}" defer></script>
{{ 'wishlist.css' | asset_url | stylesheet_tag }}

<div wishlist-container>
  
  <div class="wishlist-toaster" wishlist-toaster>
    <div>
      <div class="wishlist-content">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-circle-alert"
        >
          <circle cx="12" cy="12" r="10"/><line x1="12" x2="12" y1="8" y2="12"/><line x1="12" x2="12.01" y1="16" y2="16"/>
        </svg>
        <span wishlist-message></span>
      </div>
    </div>
  </div>
  <div>
    <dialog wishlist-dialog>
      <div class="wishlist-dialog">
        <div class="wishlist-header">
          <h2>My Wishlist</h2>
          <button wishlist-close>X</button>
        </div>
        <div class="wishlist-body">
          <div>
            <input type="search" placeholder="searchItems">
          </div>
          <div class="product-container"></div>
        </div>
      </div>
    </dialog>
  </div>
</div>

{% schema %}
{
  "name": "App Embed",
  "target": "body",
  "settings": []
}
{% endschema %}
