.wishlist .wishlist-icon {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-family: inherit;
}

.wishlist [wishlisted] svg path {
  fill: red;
}

.wishlist-toaster {
  position: fixed;
  left: auto;
  bottom: 30px;
  background: white;
  width: 250px;
  padding: 10px;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 8px;
  transform: translate(-100%);
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
}

.wishlist-content {
  display: grid;
  grid-template-columns: 40px 1fr;
  justify-content: center;
  align-items: center;
}

[wishlist-header-icon] {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
[wishlist-header-icon] svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

[wishlist-header-icon] svg path {
  stroke: white;
  stroke-width: 2px;
}

[wishlist-dialog] .product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

[wishlist-dialog] {
  width: 90%;
  max-width: 90%;
  height: 90vh;
  max-height: 90vh;
  margin: auto;
  padding: 0;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  border: none;
  border-radius: 12px;
}

[wishlist-dialog] .wishlist-body {
  padding: 20px;
}

[wishlist-dialog] .product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[wishlist-dialog] .wishlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(32, 31, 30);
  color: white;
  padding: 5px 10px;
  top: 0;
  position: sticky;
}
[wishlist-dialog] .wishlist-header h2 {
  margin: 0;
  color: white;
  font-size: 18px;
}

[wishlist-dialog] [wishlist-close] {
  border: none;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

[wishlist-dialog] [type="search"] {
  width: 100%;
  height: 46px;
  padding: 5px 10px;
  margin-bottom: 20px;
  font-size: 16px;
}
[wishlist-dialog] [type="search"]:is(:focus-visible, :focus) {
  outline: none;
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  [wishlist-dialog] .product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  } 
  [wishlist-dialog] {
    width: 80%;
    max-width: 1200px;
    height: 80vh;
  }
}
